.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: white;
    background-image: url(https://cdn.pixabay.com/photo/2018/08/15/13/10/galaxy-3608029_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    justify-content: space-around;
    margin: 10%;
  }
  .header > div {
    border: 4px solid #000;
    padding: 80px;
    cursor: pointer;
  }
  
  .header > div:hover {
    transition: .2s;
    border: 4px solid white;
    color: black;
    box-shadow: 0px 0px 20px white;
  }


  @media screen and (max-width: 700px) {
    .header {
      flex-direction: column;
      margin: 30px auto;
    }
    .header > div {
      margin-bottom: 5px;
    }
  }

  .footer__cards {
    display: flex;
    justify-content: space-around;
    margin: 10%;
  }
  .footer__cards > div {
    border: 4px solid #000;
    padding: 95px;
    margin-bottom: 5px;
    cursor: pointer;
  }


  .footer__cards > div:hover {
    transition: .2s;
    border: 4px solid white;
    color: black;
    box-shadow: 0px 0px 20px white;
  }


  @media screen and (max-width: 1100px) {
    .footer__cards {
      flex-direction: column;
      width: 250px;
      margin: auto;
    }
    body {
      background-image:url(https://cdn.pixabay.com/photo/2017/08/01/20/20/nebula-2567749_960_720.jpg);
      background-size: cover;
      background-repeat: no-repeat;

    }
  }

